{% extends "base.html" %}

{% block content %}
{% include 'class_nav.html' %}
<div class="jumbotron jumbotron-fluid" style="background-color: #CAC6F5;">
  <div class="container">
    <h1 class="display-5">{{class.name}} | Задания
    <a class="btn btn-lg btn-light float-right border-bottom" href='{{class.get_absolute_url_task_add}}' type="submit"
				style="">Новое задание</a>
    </h1>
    <p class="lead">{{class.teacher.first_name}} {{class.teacher.last_name}}</p>
  </div>
</div>
<div class="album mt-5">
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 g-3">
            {% for task in tasks %}
                <div class="col">
                    <div class="card mt-2 shadow" >
                      <div class="row g-0" style="height: 210px;">
                        <div class="col-md-3" style="background: -webkit-linear-gradient(45deg, rgb(175, 213, 236), rgb(202, 198, 245), rgb(66, 123, 166));
                                                    background: -moz-linear-gradient(45deg, rgb(175, 213, 236), rgb(202, 198, 245), rgb(66, 123, 166));
                                                    background: linear-gradient(45deg, rgb(175, 213, 236), rgb(202, 198, 245), rgb(66, 123, 166));">
                        </div>
                        <div class="col-md-8">
                          <div class="card-body">
                            <h5 class="card-title">{{task.title}}</h5>
                            <p class="card-text">Дата сдачи: {{task.date | date:'d.m.y'}}</p>
                            <p class="card-text"><small class="text-muted">{{task.published_date | date:'d.m.y'}}</small></p>
                              <a href="{{task.get_absolute_url}}" class="btn btn-lg border-bottom" style="background-color: #95D2F1;">Подробнее</a>
                          </div>
                        </div>
                      </div>
                </div>
                </div>
           {% endfor %}
        </div>
    </div>
</div>
{% endblock %}