{% extends "base.html" %}

{% block content %}
{% include 'class_nav.html' %}
<div class="container mt-5 mb-5">
     <div class="row">
	    <div class="col-md-4 order-md-2 mb-5">
	    	<h4 class="d-flex justify-content-between align-items-center mb-3">
		       	<span class="badge badge-secondary badge-pill">Дата сдачи: {{task.date | date:'d.m.y'}}</span>
		    </h4>

			{% if is_teacher %}
			<a class="btn btn-lg btn-block mb-4 border-bottom" href='{{task.get_absolute_url_edit}}' type="submit"
	    	style="background-color: #95D2F1;">Редактировать</a>
			<a class="btn btn-lg btn-block mb-4 border-bottom" href='{{task.get_absolute_url_answers}}' type="submit"
	    	style="background-color: #CAC6F5;">Ответы учеников</a>
			<a class="btn btn-lg btn-block mb-4 border-bottom" href='{{task.get_absolute_url_delete}}' type="submit"
	    	style="background-color: #427BA6;">Удалить задание</a>
			{% else %}
			<h5 class="mb-3 text-muted">Ваш ответ:</h5>
			<form class="" method="POST" action="" enctype="multipart/form-data">
				{% csrf_token %}
          		{% load crispy_forms_tags %}
				<ul class="list-group mb-3">
					<li class="list-group-item ">
					  {{ form.comment | as_crispy_field }}
					</li>
					<li class="list-group-item">
					  {{ form.files | as_crispy_field }}
					</li>
					<li class="list-group-item">
					  {{ form.images | as_crispy_field }}
					</li>

					<button class="btn btn-lg border-bottom mt-3" type="submit"
          			style="background-color: #95D2F1;">Отправить</button>
		    	</ul>
			</form>
			{% endif %}
	    </div>
	    <div class="col-md-8 order-md-1">
	        <h4 class="mb-3">{{task.title}}</h4>
            {% if task.not_empty %}
                <div class="alert alert-light mt-3 py-3" role="alert" style="background-color: #CAC6F5;">
                        {% autoescape off %}
                    <h5 class="text-dark">{{task.body}}</h5>
                        {% endautoescape %}
                </div>
            {% endif %}
			{% for i in images %}
			<div class="d-flex justify-content-center shadow p-2 mb-3 bg-white rounded">
				<img src="{{ i.image.url }}" class="img-fluid rounded-lg" alt="Responsive image">
			</div>
			{% endfor %}
			<h5 class="mb-3 text-muted">Приложенные файлы:</h5>
			{% for f in files%}
			<div class="d-flex justify-content-center shadow p-2 mt-3 bg-white rounded">
				<p><a href="{{f.file.url}}">{{f.get_name}}</a></p>
			</div>

			{% endfor %}
			<br><br><br>
	    </div>
	  </div>
</div>
{% endblock %}