{% extends "base.html" %}

{% block content %}
{% include 'class_nav.html' %}
<div class="container mt-3">
    <nav aria-label="breadcrumb">
			    <ol class="breadcrumb bg-light shadow-sm">
				    <li class="breadcrumb-item"><a href="{{class.get_absolute_url_feed}}">{{class.name}}</a></li>
				    <li class="breadcrumb-item"><a href="{{class.get_absolute_url_tasks}}">Задания</a></li>
                    <li class="breadcrumb-item"><a href="{{task.get_absolute_url}}">{{task.title}}</a></li>
				    <li class="breadcrumb-item active" aria-current="page">Ответы</li>
                </ol>
    		</nav>
    <h1>Ученики, сдавшие работу:</h1>
    <table class="table table-hover mt-5">
          <thead>
            <tr>
                <th scope="col">Фамилия</th>
                <th scope="col">Имя</th>
                <th scope="col">Время отправки</th>
                <th scope="col">Комментарий</th>
                <th scope="col">Оценка</th>
            </tr>
          </thead>
          <tbody>
            {% for answer in answers %}
            <tr
            {% if answer.mark_exist %}
            class="bg-success text-white"
            {% endif %}
            >
                <td>{{answer.author.user.last_name}}</td>
                <td>{{answer.author.user.first_name}}</td>
                <td>{{answer.edit_time | date:'h:i | d.m'}}</td>
                <td><a class="text-dark" href="{{answer.get_absolute_url}}">Подробнее</a></td>
                <td>{{answer.get_mark}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>

        </div>
</div>


{% endblock %}