{% extends "base.html" %}

{% block content %}
{% include 'class_nav.html' %}
<div class="jumbotron jumbotron-fluid" style="background-color: #CAC6F5;">
  <div class="container">
    <h1 class="display-5">{{class.name}} | Настройки</h1>
    <p class="lead">{{class.teacher.first_name}} {{class.teacher.last_name}}</p>
  </div>
</div>
<div class="container py-5" style="width: 25rem;">
        {% load crispy_forms_tags %}
        <form class="" method="POST" action="">
          {% csrf_token %}
          <h1 class="h3 mb-3 font-weight-normal text-center">Настройки класса</h1>
          {{ class_settings_form|crispy }}
          <button class="btn btn-lg btn-block border-bottom" type="submit"
          style="background-color: #95D2F1;">Сохранить</button>
        </form>
</div>
{% endblock %}