{% extends "base.html" %}

{% block content %}
<div style="background-color: #95D2F1;">
    <nav class="container navbar navbar-expand-lg navbar-light">
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-link" href="feed">Лента</a>
            <a class="nav-link" href="tasks">Задания</a>
            <a class="nav-link" href="chat">Чат</a>
            <a class="nav-link" href="students">Ученики</a>
            {% if class.is_teacher %}
            <a class="nav-link" href="task_add">Добавить задание</a>
            {% endif %}
          </div>
        </div>
    </nav>
</div>
<div class="container mt-5 mb-5">
          <h1>{{task.title}} <span class="badge badge-secondary float-right">{{task.date | date:'d.m.y'}}</span></h1>
          <div class="alert alert-light mt-5 py-3" role="alert" style="background-color: #CAC6F5;">
            {% autoescape off %} 
            <h5 class="text-dark">{{task.body}}<h5>
            {% endautoescape %}
          </div>
</div>
{% endblock %}