{% extends "base.html" %}

{% block content %}
{% include 'class_nav.html' %}
<div class="jumbotron jumbotron-fluid" style="background-color: #CAC6F5;">
  <div class="container">
    <h1 class="display-5">{{class.name}} | Ученики</h1>
    <p class="lead">{{class.teacher.first_name}} {{class.teacher.last_name}}</p>
  </div>
</div>
<div class="container mt-5 mb-5">
            <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">Фамилия</th>
              <th scope="col">Имя</th>
              <th scope="col">E-mail</th>
              <th scope="col">Последний вход на курс</th>
            </tr>
          </thead>
          <tbody>
            {% for student in students %}
            <tr>
              <td>{{student.last_name}}</td>
              <td>{{student.first_name}}</td>
              <td>{{student.email}}</td>
              <td>{{student.profile.last_visit|date:'d.m.y | H:s'}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        </div>
{% endblock %}