{% extends "base.html" %}
{% block content %}
<section class="text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <img src="/media/logo_book.png" class="img-fluid" alt="Responsive image" height="50" width="50">
        <h1 class="fw-light" style="color: #24445c;">MasterClass</h1>
          <p style="color: #24445c;">Система дистанционного обучния</p>
          <a class="badge rounded text-white" style="background-color: #427BA6; width: 250px" type="button"
          href="classes">
              <h5>Ваши классы</h5></a>
      </div>
    </div>
</section>
<div class="container marketing mt-5">



    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading" style="color: #24445c;">Растровая и векторная графика: это как? <span class="text-muted">Как-нибудь так…</span></h2>
        <p class="lead">Есть два вида картинок: в одной миллионы цветов и полный фотореализм; вторую можно увеличивать и уменьшать до бесконечности без потери качества. Вот как это всё работает...
      </div>
      <div class="col-md-5 order-md-1">
        <img src="/media/news/news1.jpeg" class="img-fluid" alt="Responsive image" height="400" width="400">
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading" style="color: #24445c;">Vim: текстовый редактор для мастеров. <span class="text-muted">Очень сложная штука, но мы попытаемся объяснить просто.</span></h2>
        <p class="lead">Вы могли слышать программистские анекдоты типа «Не могу выйти из Vim». На «Амазоне» продаётся
электронная книга о выходе из текстового редактора Vim...
      </div>
      <div class="col-md-5 order-md-1">
        <img src="/media/news/news2.jpeg" class="img-fluid" alt="Responsive image" height="400" width="400">
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading" style="color: #24445c;">Убери руку с мышки! <span class="text-muted">Как работать в три — пять раз быстрее с помощью горячих клавиш.</span></h2>
        <p class="lead">Факт: работать с кодом, текстом и большинством программ гораздо удобнее и быстрее, когда знаешь горячие клавиши...</div>
      <div class="col-md-5">
        <img src="/media/news/news3.jpeg" class="img-fluid" alt="Responsive image" height="400" width="400">
      </div>
    </div>

    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->

  </div>
{% endblock %}
{% for el in news %}
    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading" style="color: #24445c;">{{el.title}}<span class="text-muted">{{el.second_title}}</span></h2>
          <p class="lead">{{el.body}}</p>
      </div>
      <div class="col-md-5 order-md-1">
        <img src="" class="img-fluid" alt="Responsive image" height="400" width="400">
      </div>
    </div>
    <hr class="featurette-divider">
    {% endfor %}